<div>
  <table class='table table-bordered table-condesed' ng-repeat='team in teams'>
    <caption>Team {{team.name}}</caption>
    <thead>
      <tr>
        <th>Golfer</th>
        <th style='display:none'>Money</th>
        <th>Position</th>
        <th>Score</th>
        <th>Eagles</th>
        <th>Trash Birdies</th>
        <th>Doubles or worse</th>
        <th>RD 1</th>
        <th>RD 2</th>
        <th>RD 3</th>
        <th>RD 4</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat='player in team.players'>
        <td>{{player.name}}</td>
        <td style='display:none;'>{{player.money}}</td>
        <td>{{player.position}}</td>
        <td>{{player.finalScore}}</td>
        <td>{{player.eagles}}</td>
        <td>{{player.trashBirdies}}</td>
        <td>{{player.others}}</td>
        <td ng-repeat='round in player.rnds' ng-class='{lowround:round.lowRound}'>
          <div>Score: {{round.score}}</div>
          <div>Eagles: {{round.eagles}}</div>
          <div>Trash Birdies: {{round.trashBirdies}}</div>
          <div>Doubles or worse:{{round.others}}</div>
          <div>Holes Played: {{round.holesPlayed}}</div>
        </td>
      </tr>
    </tbody>
  </table>

  <table class='table table-bordered table-condensed' ng-repeat='flight in sortedFlights'>
    <caption ng-class='{"anti":$last}'>Flight{{$index}}</caption>
    <thead>
      <tr>
        <th>User</th>
        <th>Golfer</th>
        <th>Money</th>
        <th>Position</th>
        <th>Score</th>
        <th>RD 1</th>
        <th>RD 2</th>
        <th>RD 3</th>
        <th>RD 4</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat='player in flight'>
        <td>{{player.userId}}</td>
        <td>{{player.name}}</td>
        <td>{{player.money}}</td>
        <td>{{player.position}}</td>
        <td>{{player.finalScore}}</td>
        <td ng-repeat='round in player.rnds'>{{round.score}}</td>
      </tr>
    </tbody>
  </table>
</div>
