<html ng-app='admin'>
  <head>
    <script src='jquery/diist/jquery.min.js'></script>
    <script src='bootstrap/dist/js/bootstrap.min.js'></script>
    <script src='angular/angular.min.js'></script>
    <script src='underscore/underscore-min.js'></script>

    <link rel="stylesheet" href="bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="bootstrap/dist/css/bootstrap-theme.min.css">

    <script src='js/admin.js'></script>
    <link rel="stylesheet" href="css/style.css">
  </head>

  <body ng-controller='adminController' class='pga-mean-containger container-fluid'>
    <div class='loading'>
      <span class='center-helper'></span><img src="img/loading.gif" height='150' alt="">
    </div>
    <h1>New Tournament</h1>
    <form action="" ng-submit='buildField()'>
      <div class='form-group'>
        <label for="tournamentID">Tournament ID</label>
        <div class='input-group'>
          <input type="text" id='tournamentID' class='form-control' ng-model='tournamentId' required>
          <span class='input-group-btn'>
            <input type="submit" class='btn btn-default' value='Build Field'>
          </span>
        </div>
      </div>
    </form>
    <div class='results'></div>
    <form action="" ng-submit='createTournament()'>
      <div class='form-group'>
        <label for="tournamentName">Tournament Name</label>
        <input type="text" class='form-control' id='tournamentName' placeholder='Name' ng-model='tournamentName' required>
      </div>
      <div class='form-group checkbox-container'>
        <label for="" class='checkbox-label'>Trash Alley</label>
        <label for="" class='checkbox-inline' ng-repeat='hole in [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,16]'>
          <input type="checkbox" id='inlineCheckbox{{hole}}' value='{{hole}}'>{{hole}}
        </label>
      </div>
      <div class='form-group'>
        <h2>Team 0</h2>
        <div class='form-group'>
          <label for="">User</label>
          <select name="" id="" class='form-control' ng-options='user.id as user.name for user in users' ng-model='teams[0].user_id'></select>
        </div>
        <div class='form-group'>
          <label for="">Player 0</label>
          <select class='form-control' ng-options='player.id as player.name for player in players | orderBy:"name"' ng-model='teams[0].player[0]'></select>
        </div>
        <div class='form-group'>
          <label for="">Player 1</label>
          <select class='form-control' ng-options='player.id as player.name for player in players | orderBy:"name"' ng-model='teams[0].player[1]'></select>
        </div>
        <div class='form-group'>
          <label for="">Player 2</label>
          <select class='form-control' ng-options='player.id as player.name for player in players | orderBy:"name"' ng-model='teams[0].player[2]'></select>
        </div>
        <div class='form-group'>
          <label for="">Player 3</label>
          <select class='form-control' ng-options='player.id as player.name for player in players | orderBy:"name"' ng-model='teams[0].player[3]'></select>
        </div>
        <div class='form-group'>
          <label for="">Player 4</label>
          <select class='form-control' ng-options='player.id as player.name for player in players | orderBy:"name"' ng-model='teams[0].player[4]'></select>
        </div>
      </div>

      <div class='form-group'>
        <h2>Team 1</h2>
        <div class='form-group'>
          <label for="">User</label>
          <select name="" id="" class='form-control' ng-options='user.id as user.name for user in users' ng-model='teams[1].user_id'></select>
        </div>
        <div class='form-group'>
          <label for="">Player 0</label>
          <select class='form-control' ng-options='player.id as player.name for player in players | orderBy:"name"' ng-model='teams[1].player[0]'></select>
        </div>
        <div class='form-group'>
          <label for="">Player 1</label>
          <select class='form-control' ng-options='player.id as player.name for player in players | orderBy:"name"' ng-model='teams[1].player[1]'></select>
        </div>
        <div class='form-group'>
          <label for="">Player 2</label>
          <select class='form-control' ng-options='player.id as player.name for player in players | orderBy:"name"' ng-model='teams[1].player[2]'></select>
        </div>
        <div class='form-group'>
          <label for="">Player 3</label>
          <select class='form-control' ng-options='player.id as player.name for player in players | orderBy:"name"' ng-model='teams[1].player[3]'></select>
        </div>
        <div class='form-group'>
          <label for="">Player 4</label>
          <select class='form-control' ng-options='player.id as player.name for player in players | orderBy:"name"' ng-model='teams[1].player[4]'></select>
        </div>
      </div>

      <div class='form-group'>
        <h2>Team 2</h2>
        <div class='form-group'>
          <label for="">User</label>
          <select name="" id="" class='form-control' ng-options='user.id as user.name for user in users' ng-model='teams[2].user_id'></select>
        </div>
        <div class='form-group'>
          <label for="">Player 0</label>
          <select class='form-control' ng-options='player.id as player.name for player in players | orderBy:"name"' ng-model='teams[2].player[0]'></select>
        </div>
        <div class='form-group'>
          <label for="">Player 1</label>
          <select class='form-control' ng-options='player.id as player.name for player in players | orderBy:"name"' ng-model='teams[2].player[1]'></select>
        </div>
        <div class='form-group'>
          <label for="">Player 2</label>
          <select class='form-control' ng-options='player.id as player.name for player in players | orderBy:"name"' ng-model='teams[2].player[2]'></select>
        </div>
        <div class='form-group'>
          <label for="">Player 3</label>
          <select class='form-control' ng-options='player.id as player.name for player in players | orderBy:"name"' ng-model='teams[2].player[3]'></select>
        </div>
        <div class='form-group'>
          <label for="">Player 4</label>
          <select class='form-control' ng-options='player.id as player.name for player in players | orderBy:"name"' ng-model='teams[2].player[4]'></select>
        </div>
      </div>

      <div class='form-group'>
        <h2>Team 3</h2>
        <div class='form-group'>
          <label for="">User</label>
          <select name="" id="" class='form-control' ng-options='user.id as user.name for user in users' ng-model='teams[3].user_id'></select>
        </div>
        <div class='form-group'>
          <label for="">Player 0</label>
          <select class='form-control' ng-options='player.id as player.name for player in players | orderBy:"name"' ng-model='teams[3].player[0]'></select>
        </div>
        <div class='form-group'>
          <label for="">Player 1</label>
          <select class='form-control' ng-options='player.id as player.name for player in players | orderBy:"name"' ng-model='teams[3].player[1]'></select>
        </div>
        <div class='form-group'>
          <label for="">Player 2</label>
          <select class='form-control' ng-options='player.id as player.name for player in players | orderBy:"name"' ng-model='teams[3].player[2]'></select>
        </div>
        <div class='form-group'>
          <label for="">Player 3</label>
          <select class='form-control' ng-options='player.id as player.name for player in players | orderBy:"name"' ng-model='teams[3].player[3]'></select>
        </div>
        <div class='form-group'>
          <label for="">Player 4</label>
          <select class='form-control' ng-options='player.id as player.name for player in players | orderBy:"name"' ng-model='teams[3].player[4]'></select>
        </div>
      </div>

      <div class='form-group'>
        <h2>Team 4</h2>
        <div class='form-group'>
          <label for="">User</label>
          <select name="" id="" class='form-control' ng-options='user.id as user.name for user in users' ng-model='teams[4].user_id'></select>
        </div>
        <div class='form-group'>
          <label for="">Player 0</label>
          <select class='form-control' ng-options='player.id as player.name for player in players | orderBy:"name"' ng-model='teams[4].player[0]'></select>
        </div>
        <div class='form-group'>
          <label for="">Player 1</label>
          <select class='form-control' ng-options='player.id as player.name for player in players | orderBy:"name"' ng-model='teams[4].player[1]'></select>
        </div>
        <div class='form-group'>
          <label for="">Player 2</label>
          <select class='form-control' ng-options='player.id as player.name for player in players | orderBy:"name"' ng-model='teams[4].player[2]'></select>
        </div>
        <div class='form-group'>
          <label for="">Player 3</label>
          <select class='form-control' ng-options='player.id as player.name for player in players | orderBy:"name"' ng-model='teams[4].player[3]'></select>
        </div>
        <div class='form-group'>
          <label for="">Player 4</label>
          <select class='form-control' ng-options='player.id as player.name for player in players | orderBy:"name"' ng-model='teams[4].player[4]'></select>
        </div>
      </div>

      <button type='submit' class='btn btn-default'>Submit</button>
    </form>
    <div class='tournament-results'></div>
  </body>
</html>
