<div class="container">
  <h1>Bookings per court</h1>
  <table>
    <thead>
      <tr>
        <td>
          Name
        </td>
        <td>
          Number
        </td>
        <td>
          Number of Players
        </td>
        <td>

        </td>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat='court in courts'>
        <td>
          {{court.name}}
        </td>
        <td>
          {{court.number}}
        </td>
        <td>
          {{court.numOfPlayers}}
        </td>
        <td>
          <a ng-click='showDetails(court)'>Details</a>
        </td>
      </tr>
    </tbody>
  </table>
  <span ng-show='players && players.length > 0'>
    <ul>
      <li ng-repeat='player in players'>
        <span class='name'>{{player}}</span>
      </li>
    </ul>
  </span>
  <span ng-show='players && players.length == 0'>
    no players
  </span>
</div>
